.profile-background {
  z-index: -1;
  color: #FFFFFF;
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10.5%;
  background-color: #242424;
  background-color: #bfb199;
  background-color: #b5a58a;
  background-color: #b5a58a;
  background-color: #4a4738;
  background-color: #b8a493;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}
.profile-img {
position: relative;
top: -1.5%

}
.profile-name {
  font-weight: 400;
}