nav {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  padding: 0 1.5em 0  1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  
}
nav span {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
 }
.go-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.go-down > i {
color:rgb(223, 170, 25);
transition: all 0.2s ease-in-out;
}
.go-down > i:hover {
  transform: scale(1.3);
  }
.go-down > i:active {
  transform: scale(1);
  }
.nav-message {
margin-bottom: 4px;
}