.new-tweet{
  margin: 0 0 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

}
form {
  width: 100%;
}
textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  border-bottom: #616161  solid 4px;
  background-color: inherit;
  height: auto;

  font-size: 0.94em;
}


.btn-container {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}

button {
  font-size: 0.8em;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all .2s ease-in-out; 
}

.btn-container button:hover {
  transform: scale(1.06); 
}
button:active {
  transform: scale(1); 
}
.new-tweet output {
  font-size: 0.8em;
}

.turn-red {
  color: #ca2525da;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-color:#e96b6b;
  color: #333232;
  margin-bottom: 8vh;
  margin-top: -5vh;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  height: 50px;
;
}

.error > p {
flex: 30;
}
.error > button {
  color: #333232;
  flex: 1;
  background-color: #e96b6b;
}




